@media (max-width: 768px) {
    body {
        overflow: hidden;
    }
    
    .timer .count-container .count{
        width: 70px;
        height: 70px;
    }

    footer {
        background-position: right;
    }
}